body {
    font-family: Arial, sans-serif;
    background-color: #003973;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}


input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.Registro {
    width: 50%;
    padding: 15px;
    background-color: #0079f3;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.registro-card{
    background: white;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}

.Tittle{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

